body{
font-family: "Roboto", sans-serif;
font-size: 43px;
margin: 0;
color: #000000;
}

*,
*::before,
*::after{
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1680px;
  margin: 0 auto;
}

/* HEADER */
.header{
  background-color: white;
  height: 107px;

}

.header-inner{
  display: flex;
  justify-content: center;
  align-items: center;
}


.nav{
  vertical-align: middle;
  display: inline-block;
  font-size: 27.05px;
  font-weight: 300;
}

.nav-item{
  vertical-align: middle;
  text-decoration: none;
  color: #000000;
  margin: auto 42.5px;
  transition: color .2s linear;
}
.nav-item:hover{
  color: #B454B2;
}

.nav-item-number{
  vertical-align: middle;
  text-decoration: none;
  color: #000000;
}
.nav-phone{
  vertical-align: middle;
}




/* INTRO */
.intro{
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 100%;
  height: 75vh;
  background: url(../images/Intro.png) center no-repeat;
}

.intro-inner{
  margin-top: 165px;
  width: 100%;
  max-width: 776px;
}

.intro__title {
  font-size: 94px;
  font-weight: 700;
  text-align: left;
  line-height: 1;
  color: white;
  width: 776px;
}

.intro__subtitle{
  font-size: 43px;
  font-weight: 300;
  width: 455px;
  line-height: 1;
  color: white;
  margin: 39px 0;
}

.intro__join{
  font-size: 25px;
  font-weight: 300;
  width: 337px;
  color: white;
}

.intro-social{
  margin-top: 19px;
}

.intro-icon{
  margin: 0 30px;
}

.intro-icon:first-child{
  margin-left: 0px;
}



/* Section */

.section{
  width: 100%;
  height: 1323px;
  background-image: url(../images/Paper.png);
}

.section-decor{
  width: 100%;
  height: 1323px;
  position: relative;
}

.Purple_brush, .blackberry{
  position: absolute;
  right: 0;
  top: 0 ;
}

.blackberry{
  z-index: 10;
}

.first_title{
  color: #FF97FD;
  font-size: 94px;
  font-weight: 700;
  line-height: 1;
  width: 741px;
  padding-top: 36px ;
  text-align: right;
  margin: 0 676px;
}